# Deploy
STACK_NAME=cpa
IMAGE_TAG=latest

# Hosts (Caddy reverse proxy)
CPA_HOST=coletivopopularautista.com.br
DEPLOY_HOST=deploy-cpa.colman.com.br

# Deploy server
AGENT_TOKEN=
GITHUB_WEBHOOK_SECRET=
ALERT_WEBHOOK_URL=
