# Deploy
STACK_NAME=cpa-nextcloud

# Host (Caddy reverse proxy)
NEXTCLOUD_HOST=cloud.coletivopopularautista.com.br
COLLABORA_HOST=office.coletivopopularautista.com.br

# Admin inicial (criado no primeiro boot)
NEXTCLOUD_ADMIN_USER=
NEXTCLOUD_ADMIN_PASSWORD=

# Postgres
POSTGRES_PASSWORD=

# Borg
BORG_PASSPHRASE=
